<!DOCTYPE html>

<html lang="ro">
<%- include ('../fragmente/head') %>
<body>

        <div class="top-button">
            <a href="#top" title="sus" id="link-top">&#x25B4</a>
        </div>
        <div class="watermark print-only">Andreea Megherlich</div>

        <%- include ('../fragmente/titlu') %>

        <div class="content">


        <%- include('../fragmente/galerie-statica') %>

        <%- include('../fragmente/footer')%>

</html>