:root {
    --primary-color: #cffce9;
    --secondary-color: #83d6c7;
    --accent-color: #ff521b;
    --accent-color-secondary: #701e5e;
    --background-color: #ded1d8;
    --text-color: #20061b;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

blockquote {
    background-color: var(--primary-color);
    border-left: 5px solid var(--accent-color);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote p {
    margin: 0;
}