:root {
    --primary-color: #cffce9;
    --secondary-color: #83d6c7;
    --accent-color: #ff521b;
    --accent-color-secondary: #701e5e;
    --background-color: #ded1d8;
    --background-color-secondary: #ffc8b5;
    --text-color: #20061b;

    --spacing-large: 300px;
    --spacing-medium: 120px;
    --spacing-small: 50px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

blockquote {
    background-color: var(--primary-color);
    border-left: 5px solid var(--accent-color);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote p {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    padding-left: var(--spacing-large);
    padding-right: var(--spacing-large);
}

@media (max-width: 800px) {
    .container {
        padding-left: var(--spacing-medium);
        padding-right: var(--spacing-medium);
    }
}

@media (max-width: 500px) {
    .container {
        padding-left: var(--spacing-small);
        padding-right: var(--spacing-small);
    }
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1em;
    margin: 1em 0;
    border: 3px dashed var(--accent-color-secondary);
    border-radius: 1em;
}

header h1 {
    color: var(--accent-color);
}

/* main {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1em;
    margin-bottom: 1em;
    border: 3px dashed var(--accent-color-secondary);
    border-radius: 1em;
} */

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1em;
    margin-bottom: 1em;
    border: 3px dashed var(--accent-color-secondary);
    border-radius: 1em;
}



/*  creed  */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    gap: 10px;
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    grid-column: 1 / -1;
    text-align: center;
}

.content {
    grid-column: 1 / -1;

    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 1em;
    border: 3px dashed var(--accent-color-secondary);
    border-radius: 1em;
}

.calendar { grid-column: 1; }
.table { grid-column: 2; }
.announcements { grid-column: 3; }

.calendar, .table, .announcements {
    background: var(--background-color);
    border: 3px dashed var(--accent-color-secondary);
    border-radius: 1em;
    padding: 2em;
}

.extra {
    grid-column: 1 / -1;
    border: 3px dashed var(--accent-color-secondary);
    border-radius: 1em;
    padding: 2em;
    background: var(--primary-color);
    color: var(--text-color);
}

.status { grid-column: 1; }
.users { grid-column: 2; }
.stats { grid-column: 3; }

.status, .users, .stats {
    background: var(--background-color-secondary);
    border: 3px dashed var(--accent-color-secondary);
    border-radius: 1em;
    padding: 2em;
    text-align: center;
}

footer {
    grid-column: 1 / -1;
}

@media (max-width: 768px) {
    body {
      grid-template-columns: 1fr;
    }

    .calendar, .table, .announcements,
    .status, .users, .stats {
      grid-column: 1;
    }
}