<footer>
    <a href="#" title="sus" id="link-top">Înapoi la începutul paginii</a>
    <address>
        <a href="tel:+40749161666">+40 749 161 666</a><br>
        <a href="whatsapp://send?phone=+40749161666">WhatsApp</a><br>
        <a href="mailto:contact@handmadeheaven.ro">contact@handmadeheaven.ro</a><br>
        <a href="https://goo.gl/maps/rTo6XUrVVcbNodm36">Aleea Șmecher nr. 7, Sector 3, București</a>
    </address>
    &copy; 2025 Handmade Heaven
    <time datetime="2025-03-01">01 martie 2025</time>
</footer>