<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="art&hobby, arta, unelte, handmade, inspiratie, idei creative, produse hobby, hobby creativ, accesorii hobby, crosetat, sculptat">
    <meta name="description" content="Cea mai bună sursă de materiale și inspirație pentru artiști!">
    <meta name="author" content="Andreea Megherlich"> 
    <title>Handmade Heaven</title>

    <!-- ICO  -->
    <link rel="icon" type="image/png" href="/res/ico/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/res/ico/favicon.svg">
    <link rel="shortcut icon" href="/res/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/res/ico/apple-touch-icon.png">
    <link rel="manifest" href="/res/ico/site.webmanifest">

    <!-- CSS  -->
    <link href="/res/css/general.css" rel="stylesheet" type="text/css">


</head>