<header>
    <h1 class="print-only">HANDMADE HEAVEN</h1>
    <img id="banner-logo" src="/res/img/logo_hh.png" alt="Handmade Heaven" style="height: 10em;">
    
    <nav class="navbar">
        <div class="hamburger" id="hamburger">&#9776;</div>
        <ul class="meniu" id="meniu">
            <li><a href="/">Acasă</a></li>
            <li><a href="/magazin">Magazin</a>
                <ul>
                    <li><a href="/pictura">Pictura</a></li>
                    <li><a href="/modelat">Modelat</a></li>
                    <li><a href="/margelit">Mărgelit</a></li>
                    <li><a href="/crosetat">Croșetat</a></li>
                    <li><a href="/sculptura">Sculptură</a></li>
                </ul>
            </li>
            <li><a href="/info">Informații</a>
                <ul>
                    <li><a href="/info#despre">Despre Noi</a></li>
                    <li><a href="/info#contact">Contact</a></li>
                </ul>
            </li>
        </ul>
        
    </nav>

    <script>
        const hamburger = document.getElementById('hamburger');
        const meniu = document.getElementById('meniu');

        hamburger.addEventListener('click', () => {
            meniu.classList.toggle('active');
        });

    </script>
</header>